* {
    margin:0;
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 0px;
  }

/* Arrow holder */
.arrowed {
	position: relative;
	height: 100px; width: 100px;
	margin: 0 20px 20px 0;
	/* border: 1px solid rgba(0,0,0,0.25); */
}

/* Just centering the arrow */
.arrowed div {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}

/* the actual arrow */
.arrow-6 {
	/* more triangle */
	height: 10px; width: 10px;
	border: 1px solid #808080;
	border-width: 3px 3px 0 0;
	transform: rotate(45deg);
}

.arrow-6:before, .arrow-6:after {
	content: '';
	position: absolute;
	display: block;
	height: 10px; width: 10px;
	border-width: 3px 3px 0 0;
}

.arrow-6:before {
	border: 1px solid black;
	border-width: 3px 3px 0 0;
	/* top - distance minus border */
	top: 7px; left: -10px;
}

.arrow-6:after {
	border: 1px solid #B9B9B9;
	border-width: 3px 3px 0 0;
	/* top - distance plus border */
	top: -13px; left: 10px;
}


h1 {
    text-align:center;
}

body {
font-family: "Helvetica Neue";
}

.navbar1{
    display:flex;
    height: 60px;
    background-color: black;
    /* margin-top: 0px;
    padding-top: 0px;
    top: 0px; */
    /* flex-direction: row; */
    justify-content: space-around;
    font-size: x-large;

}

.text-nav{
    display: flex;
    color:white;
    margin: 10px;
    padding-left:5px;
    padding-right:5px;
    justify-content: center;
    align-items: center;
    font-size:25px;
    /* background-color: green; */
    /* vertical-align: middle;
    text-align: center; */
    
}

a {
    text-decoration: none;
    color: inherit;
}
.image-preview {
    width: 500px;
    min-height: 300px;
    border: 2px solid #dddddd;
    margin-top: 15px;


    /* Default text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.result-preview {
    width: 600px;
    min-height: 400px;
    /* border: 2px solid #dddddd; */
    margin-top: 15px;



    /* Default text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.image-preview__image {
        display: none;
        width: 100%;
    }
.loader {
    animation: is-rotating 1s infinite;
    width: 50px;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-radius:50%;
    border-top-color: #51d4db;
    display: none
}

@keyframes is-rotating {
to {
    transform: rotate(1turn);
}

}

#wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 85%;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
}

#loader-anime{
    margin: 5px;
}

#image-upload{
    margin: 0px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* old animation, used a gif */
/* .loader{
    background: #000 url(static/loader1.gif) center;
    height: 200px;
    width: 200px;
    z-index: 100;
    display: none */
    /* position: fixed; */

/* } */

/* crazy animation */

