<!DOCTYPE html>

<html lang="en" translate="no">
    <head>
        <title>imgmagik | About</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/static/styles.css" rel="stylesheet">
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
    
            body {
                align-items: center;
                justify-content: center;
            }

            h5 {
                margin-bottom: 30px;
            }
        </style>
    </head>
    
    <body>

        <nav class="navbar1">
            <a href="/"><strong class="text-nav">imgmagik AI</strong></a>

            <a href="/about"><strong class="text-nav">about</strong></a>
        </nav>

        <div style="margin: 3% auto;  max-width: 500px; padding: 2%"> 
            <h5 style="text-align: left;"> 📝 imgmagik AI was created to be my final project for Harvard's <a href="https://cs50.harvard.edu/x/"><u>CS50x</u> course</h5>
            <h5>🧑‍💻 GitHub: <a href="https://github.com/silver2v">@<u>silver2v</u><a>, <a href="https://github.com/silver2v/img-magic"><u>repo</u></a></h5>
            <h5> 🛠 This is a flask app implementation of <a href="https://github.com/microsoft/Bringing-Old-Photos-Back-to-Life"><u>Bringing-Old-Photos-Back-to-Life</u><a> (with some tweaks)</h5>
            <h5> 💪 Special thanks to: <br>
            <ul style="margin-top: 3%; margin-bottom:0; list-style: none">
                <li style="margin-bottom:5px">Professor David J. Malan, Brian, Doug, and all CS50's staff </li>
                <li style="margin-bottom:5px">Ziyu Wan and the other authors of the paper used in the creation of this app</li>
                <li>YT teachers (looking at you, epic Indian dudes)</li>
            </ul>
             </h5>
            <h5> 👻 Done with love by HUEBR Industries</h5>
        </div>