<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Photo App</title>
        <link href="/static/css/styles.css" rel="stylesheet">
        

    </head>
    <body>
        {% if get_flashed_messages() %}
               {{ get_flashed_messages() | join(" ") }} 
        {% endif %}
        <!-- <div id="loading"></div>
        <div id="content"> -->
        <h1>Hi! Please upload your image</h1>
        
        <div id="wrapper">

            <div id="image-upload"> 
                <form method="post" enctype="multipart/form-data">
            
                    <input type="file" name="file" id="inpFile">
                    <input type="checkbox" id="extra" name="extra" value="extra"><label for="extra">Extra</label>
                    <input type="submit" value="Upload" id="upload">
                
                    <div class="image-preview" id="imagePreview">
                        <img src="" alt="Image Preview" class="image-preview__image">
                        <span class="image-preview__default-text">Image Preview</span>   
                    </div>
            
                </form>
            
            </div>
           <div>
               <h1> ==> </h1>
           </div>

           <div class="result-preview" id="imagePreview">
            <img src="" alt="Image Preview" class="image-preview__image">
            <span class="image-preview__default-text2" id="image-preview__default-text2">Image Preview</span> 
            <div class="loader" id="loader-anime"></div>  
        
        </div>
        
        <!-- <img src='static/jiminy.jpeg'> -->
        <img src="" alt="">
    </body>
</html>

<script src="{{url_for('static', filename='javascript.js')}}"></script>